<nav class="navbar navbar-inverse">
  <div>
    <div class="navbar-header">  
        <span class="menu-label">Meни</span>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/home">Почетна</a></li>
        <span *ngIf="!isLogged">
          <li><a (click)="loginForm($event)">Login</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/users">Promena aktivnosti korisnika</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/changeCategory">Promena kategorija</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/changeType">Promena tipa smestaja</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/favour">Promena usluge smestaja</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/approvedComment">Odobri komentar</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" routerLink="/registerAgent">Registruj agenta</a></li>
        </span>
        <span *ngIf="isLogged">
          <li><a (click)="onClick($event)">Logout</a></li>
        </span>
      </ul>
    </div>
  </div>
</nav>

<span *ngIf="show">
<div class="layout">
  <h3>Login</h3>
  <form #form="ngForm" (ngSubmit)="loginAdmin()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" name="email" id="email" [(ngModel)]="user.email" myAutofocus>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p class="error">{{ error }}</p>
</div>
</span>